# Default ignored files
/shelf/
# Datasource local storage ignored files
/../../../../:\java\InvasioneAliena\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

#.idea folder
.idea/

#out folder
out/

#including file .iml
*.iml

#target folder
target/

