# Default ignored files
/shelf/
# Datasource local storage ignored files
/../../../../:\java\InvasioneAliena\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

#.idea
.idea/

#
out/
# target folder
target/

